#root {
  padding: 0;
}

.uploads {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin: 25px;
}

.add-url {
  display: flex;
  gap: 8px;
}

.copy-html {
  position: relative;
  width: fit-content;
  margin: 25px auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  gap: 8px;
  align-content: start;
  justify-content: center;
}

.image-card {
  position: relative;
}

.image-card img {
  transition: opacity 0.3s ease;
}

.delete-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.image-card:hover img {
  opacity: 0.50;
  cursor: pointer;
}

.image-card:hover .delete-icon {
  opacity: 1;
}

.toast {
  position: absolute;
  top: 50%;
  left: calc(100% + 12px);
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.87);
  color: black;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  white-space: nowrap;
  animation: fadeToast 1.5s ease forwards;
}

.toast::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -6px;
  transform: translateY(-50%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid rgba(255, 255, 255, 0.87);
}

@keyframes fadeToast {
  0% { opacity: 0; }
  15% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}